
body {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card-gluck {
    height: 80vh;
}

.card-gluck .card-img {
    height: 100%;
    object-fit: cover;
}

.card-gluck .card-img-overlay {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.6) 100%);
}

.card-gluck .card-title {
    font-size: 2rem;
}

.btn-gluck-custom {
    background-color: var(--bg-gray);
    color: var(--bg-white);
    border-radius: 10px;
    padding: 8px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-gluck-custom:hover {
    background-color: var(--bg-green);
    color: var(--bg-white);
}