body{
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.cards{
    width: 98vw;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    position: relative;
    width: 48%;
    height: 80vh;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block
}

.card h2,
.card .item-button {
    position: absolute;
    color: white;
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.card h2 {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 2rem;
    top: 0;
    left: 0;
}

.card .item-button {
    bottom: 0;
    left: 0;
    width: 100%;
}

.card .item-button div{
    width: 30%;
    height: 25px;
    border-radius: 10px;
    padding-top: 5px;
    margin: auto;
    background-color: var(--bg-gray);
}

.card .item-button a{
    text-decoration: none;
    color: white;
}