:root {
    --bg-white: white;
    --bg-black: black;
    --bg-green: #2B7E38;
    --bg-orange: #E26A07;
    --bg-gray: #535353;
    --bg-yellow: #FFC300;
}

footer {
    width: 100%;
    margin-top: auto;
}

.redes-footer img {
    width: 30px;
    height: 30px;
}